* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#container {
  width: 900px;
  height: 600px;
  background-color: black;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
}

#piano-upper-row,
#piano-bottom-row {
  width: 100%;
  height: 40%;
}

#menu-bar {
  width: 100%;
  height: 20%;

  display: flex;
  flex-direction: row;
}

#recordButton {
  width: 50%;
  height: 100%;
  background-color: darkred;
  text-align: center;
  line-height: 120px;
}

#playButton {
  width: 50%;
  height: 100%;
  background-color: teal;
  text-align: center;
  line-height: 120px;
}

#piano-bottom-row {
  background-color: violet;
}

#piano-upper-row {
  display: flex;
  flex-direction: row;
}

#outer-bar {
  height: 100%;
  width: 90px;
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.inner-bar {
  width: 100%;
  height: 0;
  background-color: gray;
}

#piano-bottom-row {
  display: flex;
  flex-direction: row;
}

.keyPress {
  border: solid 0.5px black;
  width: 90px;
  height: 100%;
  text-align: center;
  line-height: 300px;
}

.activekey {
  border: solid 0.5px black;
  width: 90px;
  height: 100%;
  text-align: center;
  line-height: 300px;
  background-color: darkmagenta;
}

/* below this is just a test */
.activekeyAnimation {
  border: solid 0.5px black;
  width: 90px;
  height: 100%;
  text-align: center;
  line-height: 300px;
  /* background-color: darkmagenta; */
  animation-name: activeButtonAnimation;
  animation-duration: 1.5s;
}

@keyframes activeButtonAnimation {
  0% {
    background-color: violet;
  }
  50% {
    background-color: darkmagenta;
  }
  100% {
    background-color: violet;
  }
}

.innerBarAnimation {
  animation-name: innerBarActiveAnimation;
  animation-duration: 1s;
  /* height: 0; */
  background-color: gray;
}

@keyframes innerBarActiveAnimation {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

/* sambung balik relevant section */
#recordButton:hover {
  background-color: red;
  cursor: pointer;
}

#playButton:hover {
  background-color: darkblue;
  cursor: pointer;
}
